<!DOCTYPE html>
<html lang="en" xmlns:th =  "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="mainLayout.html">
<div layout:fragment="siteContent">
  <div th:if="${applications != null}">
    <div class="row px-3">
      <div class="col-sm-6 m-3" th:each="app : ${applications}">
          <div class="card">
            <div class="card-body ms-3">
              <h5 class="card-title">
                <span class="text-danger">
                  New application
                </span> from
                <span th:text="${app.getUserName()}"></span>
              </h5>
              <p class="card-text text-secondary">
                  Course: <span th:text="${app.getCourse()}"></span>
              </p>
              <p class="card-text" th:text="${app.getCommentary()}"></p>
              <strong class="card-text" th:text="${app.getPhone()}"></strong>
              <a class="text-decoration-none ms-3" th:href="@{'/details/'+${app.getId()}">Details</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</html>